.header {
  color: #ffffff;
  background-color: #23232e;
  text-align: center; }
  .header__heading {
    font-size: 50px;
    font-family: Segoe UI;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 20px; }
  .header__paragraph {
    font-size: 11px;
    font-family: Segoe UI;
    margin-bottom: 2px; }
  .header__logo {
    width: 8%;
    padding-top: 80px;
    padding-bottom: 50px; }
  .header__circle {
    width: 29px;
    height: 29px;
    border: 1.5px solid #ffffff;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    outline: none;
    margin-top: 47.5px;
    margin-bottom: 25px; }
  .header__circle::before {
    content: "";
    position: absolute;
    height: 9px;
    width: 9px;
    left: 8.5px;
    top: 8px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
